<section id="about-wrapper">

    <!--Component title-->
    <h1>{{ page_title }}</h1>

    <!--Component content-->
    <section id="myinfo">
        <p id="aboutme">¡Hola! Me llamo Carlos y soy Técnico en <strong>Desarrollo de Aplicaciones Multiplataforma</strong> y estudiante de <strong>Ingeniería Informática</strong> (me quedan 18 créditos para finalizar).<br><br> Después de haber estado 6 años en el ejército decidí empezar una nueva etapa en el sector IT como programador.</p>

        <ul>
            <li *ngFor="let data of info"><span class="first-text">{{ data.boxText }}</span><span class="second-text">{{ data.infoText }}</span></li>
        </ul>

    </section>

    <h1>{{ second_title }}</h1>

    <p id="goals">Mi objetivo es el de aprender lo máximo que pueda sobre las diversas áreas con las que cuenta la informática, ya que es un tema que me apasiona. De hecho, hasta ahora, he aprendido cosas como desarrollo Android, creación de videojuegos, ciberseguridad y, actualmente, desarrollo web (esta misma página ha sido desarrollada por mí utilizando Angular como framework).<br><br></p>

</section>