<section id="projects-wrapper">

    <!--Component title-->
    <h1>{{ page_title }}</h1>

    <!--Component content-->
    <section id="projects">

        <!--Project cards-->
        <div class="project-card" *ngFor="let card of cards">

            <img src="{{card.image}}" alt="project-img" />
            <h3 class="text">{{card.title}}<br />{{card.subtitle}}</h3>
            <ul>
                <li *ngFor="let tec of card.tecs">
                    <span class='{{tec}}'></span>
                </li>
            </ul>
            <ul>
                <li *ngFor="let site of card.sites; let i = index">
                    <a class='{{card.siteIcons[i]}}' target="_blank" href="{{site}}"></a>
                </li>
            </ul>

        </div>

    </section>

</section>