<section id="projects-wrapper">

    <h1>Proyectos</h1>

    <section id="projects">

        <div class="project-card">
            
            <img src="assets/img/cv.png" alt="profile-img"/>
            <h3 class="text">CV & Portfolio <br> (Web APP)</h3>
            <ul>
                <li><span class='fab fa-angular'></span></li>
                <li><span class='fab fa-html5'></span></li>
                <li><span class='fab fa-css3'></span></li>
                <li><span class='fab fa-js'></span></li>
                <li><span class='fab fa-sass'></span></li>
            </ul>
            <ul>
                <li><a class='fab fa-firefox' target="_blank" href="https://www.csantosdev.com"></a></li>
                <li><a class='fab fa-github' target="_blank" href="https://github.com/csantos92/portfolio"></a></li>
            </ul>

        </div>

        <div class="project-card">
            
            <img src="assets/img/ff7.png" alt="profile-img"/>
            <h3 class="text">Final Fantasy <br> (Web estática)</h3>
            <ul>
                <li><span class='fab fa-html5'></span></li>
                <li><span class='fab fa-css3'></span></li>
                <li><span class='fab fa-js'></span></li>
            </ul>
            <ul>
                <li><a class='fab fa-firefox' target="_blank" href="https://www.csantosdev.com/projects/ff/"></a></li>
                <li><a class='fab fa-github' target="_blank" href="https://github.com/csantos92/finalfantasy"></a></li>
            </ul>

        </div>

        <div class="project-card">
            
            <img src="assets/img/ryokou.png" alt="profile-img"/>
            <h3 class="text">Ryokou: Mis viajes (APP Android)</h3>
            <ul>
                <li><span class='fab fa-java'></span></li>
                <li><span class='fab fa-android'></span></li>
            </ul>
            <ul>
                <li><a class='fab fa-google-play' target="_blank" href="https://play.google.com/store/apps/details?id=dev.csantos.ryokou"></a></li>
            </ul>

        </div>

        <div class="project-card">
            
            <img src="assets/img/jap.png" alt="profile-img"/>
            <h3 class="text">Juego de Japonés (Juego Android)</h3>
            <ul>
                <li><span class='fab fa-unity'></span></li>
                <li><span class='fab fa-android'></span></li>
            </ul>
            <ul>
                <li><a class='fab fa-google-play' target="_blank" href="https://play.google.com/store/apps/details?id=com.csantosdev.kanjin5thegame&gl=ES"></a></li>
            </ul>

        </div>

        <div class="project-card">
            
            <img src="assets/img/python.png" alt="profile-img"/>
            <h3 class="text">Dominio disponible (Script)</h3>
            <ul>
                <li><span class='fab fa-python'></span></li>
            </ul>
            <ul>
                <li><a class='fab fa-github' target="_blank" href="https://github.com/csantos92/DomainSearch-Script"></a></li>
            </ul>

        </div>

    </section>

</section>