<div id="container">

    <nav id="menu">
      <ul>
        <li>
          <a [routerLink]="['/about']"><span class='fas fa-user'></span><p>SOBRE MÍ</p></a>
        </li>
        <li>
          <a [routerLink]="['/resume']"><span class='fas fa-paperclip'></span><p>CV</p></a>
        </li>
        <li>
          <a [routerLink]="['/projects']"><span class='fas fa-folder-open'></span><p>PROYECTOS</p></a>
        </li>
        <li>
          <a [routerLink]="['/contact']"><span class='fas fa-paper-plane'></span><p>CONTACTO</p></a>
        </li>
      </ul>
    </nav>

    <section id="card">
      <img src="assets/img/me.jpg" alt="profile-img"/>

      <section id="info">
        <h1>Carlos Santos Vílchez</h1>
        <h4>Programador</h4>
        <ul>
            <li><a class='fab fa-linkedin-in' target="_blank" href="https://www.linkedin.com/in/csantos92/"></a></li>
            <li><a class='fab fa-github' target="_blank" href="https://github.com/csantos92"></a></li>
        </ul>
      </section>

      <section id="card-bottom">
        <ul>
          <li><a href="#">Descargar CV</a></li>
          <li><a [routerLink]="['/contact']">Contacto</a></li>
        </ul>
      </section>
    </section>

    <section id="content">
      <router-outlet></router-outlet>
    </section>
</div>