<section id="resume-wrapper">

    <h1>Currículum</h1>

    <section id="resume-top">

        <div id="experience">
            <h1><span class="fa fa-briefcase box-title"></span> Experiencia</h1>
            <div class="cols">
                <div class="box-content">
                    <div class="content-wrapper">
                        <div class="left-wrapper">
                            <span class="finished">2014 - 2020</span>
                            <h3>Militar</h3>
                            <span>Ministerio de defensa</span>
                        </div>
                        
                        <img src="../../../assets/img/et.png" alt="company"/>
                    </div>

                    <p>Militar en el ejército de tierra durante 6 años, destinado siempre en Madrid, donde pasé por dos unidades.</p>
                </div>
            </div>    
        </div>

        <div id="education">
            <h1><span class="fa fa-university box-title"></span> Educación</h1>
            <div class="cols">
                <div class="box-content">
                    <div class="content-wrapper">
                        <div class="left-wrapper">
                            <span class="current">2017 - actualidad</span>
                            <h3>Ingeniería Informática</h3>
                            <span>UOC</span>
                        </div>
                        
                        <img src="../../../assets/img/uoc.jpg" alt="company"/>
                    </div>

                    <p>Cursando actualmente el grado de <strong>Ingeniería Informática</strong> en la UOC. Restándome 18 créditos (TFG + una asignatura) para finalizar.</p>
                </div>
            </div>    

            <div class="cols">
                <div class="box-content">
                    <div class="content-wrapper">
                        <div class="left-wrapper">
                            <span class="finished">2018 - 2020</span>
                            <h2>GS. DAM</h2>
                            <span>Ilerna</span>
                        </div>
                        
                        <img src="../../../assets/img/ilerna.jpg" alt="company"/>
                    </div>

                    <p>Título del grado superior en <strong>Técnico de Desarrollo de Aplicaciones Multiplataforma</strong>, obtenido entre 2018 y 2020 con una nota final de 8,431.</p>
                </div>
            </div>    
        </div>
    </section>

    <h1>Skills</h1>

    <section id="resume-middle">

        <div id="programming">
            <h1><span class="fas fa-code box-title"></span> Programación</h1>

            <ul>
                <li><span>Java</span>           <div class="progress"><div class="bar eighty"></div></div></li>
                <li><span>JavaScript</span>     <div class="progress"><div class="bar seventy"></div></div></li>
                <li><span>Python</span>         <div class="progress"><div class="bar seventy"></div></div></li>
                <li><span>C#</span>             <div class="progress"><div class="bar sixty"></div></div></li>
                <li><span>PHP</span>            <div class="progress"><div class="bar seventy"></div></div></li>
                <li><span>C</span>              <div class="progress"><div class="bar forty"></div></div></li>
            </ul>
        </div>

        <div id="languages">
            <h1><span class="fas fa-globe-europe box-title"></span> Idiomas</h1>
            
            <ul>
                <li><span>Español</span>           <div class="progress"><div class="bar hundred"></div></div></li>
                <li><span>Inglés</span>            <div class="progress"><div class="bar ninety"></div></div></li>
                <li><span>Japonés</span>           <div class="progress"><div class="bar seventyfive"></div></div></li>
            </ul>
        </div>
    </section>

    <section id="resume-bottom">

        <div id="title">
            <h1><span class="fas fa-code box-title title-fix"></span> Otros conocimientos</h1>
        </div>

        <div id="list">
            <ul id="left">
                <li><span class="fab fa-html5 green"></span><span>HTML</span><br><div class="progress"><div class="bar hundred"></div></div></li>
                <li><span class="fab fa-css3 green"></span><span>CSS3</span><br><div class="progress"><div class="bar ninety"></div></div></li>
                <li><span class="fab fa-sass green"></span><span>SASS</span><br><div class="progress"><div class="bar hundred"></div></div></li>
                <li><span class="fab fa-bootstrap green"></span><span>BOOTSTRAP</span><br><div class="progress"><div class="bar fifety"></div></div></li>
                <li><span class="fab fa-laravel green"></span><span>LARAVEL</span><br><div class="progress"><div class="bar fifety"></div></div></li>
            </ul>
            
            <ul>
                <li><span class="fab fa-angular green"></span><span>Angular</span><br><div class="progress"><div class="bar sixty"></div></div></li>
                <li><span class="fab fa-unity green"></span><span>Unity</span><br><div class="progress"><div class="bar forty"></div></div></li>
                <li><span class="fab fa-android green"></span><span>ANDROID</span><br><div class="progress"><div class="bar sixty"></div></div></li>
                <li><span class="fab fa-linux green"></span><span>LINUX</span><br><div class="progress"><div class="bar sixty"></div></div></li>
          
            </ul>
        </div>
    </section>
</section>