<section id="resume-wrapper">

    <h1>Currículum</h1>

    <section id="resume-top">

        <h1><span class="fa fa-briefcase"></span> Experiencia</h1>

        <h1><span class="fa fa-university"></span> Educación</h1>

        <ul id="experience">
            <li>Experiencia</li>
            <li>Experiencia</li>
            <li>Experiencia</li>
        </ul>

        <ul id="education">
            <li>Técnico en Desarrollo de Aplicaciones Multiplataforma</li>
            <li>Ingeniería Informática</li>
   
        </ul>
    </section>

</section>