<section id="resume-wrapper">

    <h1>Currículum</h1>

    <section id="resume-top">

        <div id="experience">
            <h1><span class="fa fa-briefcase box-title"></span> Experiencia</h1>
            <div class="cols">
                <div class="box-content">
                    <div class="content-wrapper">
                        <div class="left-wrapper">
                            <span class="finished">2014 - 2020</span>
                            <h3>Militar</h3>
                            <span>Ministerio de defensa</span>
                        </div>
                        
                        <img src="../../../assets/img/et.png" alt="company"/>
                    </div>

                    <p>Militar en el ejército de tierra durante 6 años, destinado siempre en Madrid, donde pasé por dos unidades.</p>
                </div>
            </div>    
        </div>


        <div id="education">
            <h1><span class="fa fa-university box-title"></span> Educación</h1>
            <div class="cols">
                <div class="box-content">
                    <div class="content-wrapper">
                        <div class="left-wrapper">
                            <span class="current">2017 - actualidad</span>
                            <h3>Ingeniería Informática</h3>
                            <span>UOC</span>
                        </div>
                        
                        <img src="../../../assets/img/uoc.jpg" alt="company"/>
                    </div>

                    <p>Cursando actualmente el grado de Ingeniería Informática en la UOC. Restándome 18 créditos (TFG + una asignatura) para finalizar.</p>
                </div>
            </div>    

            <div class="cols">
                <div class="box-content">
                    <div class="content-wrapper">
                        <div class="left-wrapper">
                            <span class="finished">2018 - 2020</span>
                            <h2>GS. DAM</h2>
                            <span>Ilerna</span>
                        </div>
                        
                        <img src="../../../assets/img/ilerna.jpg" alt="company"/>
                    </div>

                    <p>Título del grado superior de Técnico de Desarrollo de Aplicaciones Multiplataforma obtenido entre 2018 y 2020 con una nota final de 8,431.</p>
                </div>
            </div>    
        </div>
    </section>

    <h1>Skills</h1>

    <section id="resume-top">

        <div id="programming">
            <h1><span class="fas fa-code box-title"></span> Lenguajes de programación</h1>
        </div>
        <div id="languages">
            <h1><span class="fas fa-globe-europe box-title"></span> Idiomas</h1>
            
        </div>
    </section>
</section>