//Responsive

@mixin tablet-landscape{
    @media (max-width: 1112px){
        @content;
    }
}

@mixin tablet{
    @media (max-width: 992px){
        @content;
    }
}

@mixin mobile{
    @media (max-width: 822px){
        @content;
    }
}

@mixin mobile-small{
    @media (max-width: 368px){
        @content;
    }
}

//SASS Functions

@mixin li-content($percentage1, $percentage2){
    display: grid;
    grid-template-columns: $percentage1 $percentage2;
    list-style: none;
    padding-left: 3%;
    border-bottom: 1px solid rgba(125, 230, 115, 0.15);
    align-items: center;
}

@mixin progress-bar($width){
    height: 10px;
    width: $width;
    border-radius: 7px;
    background-color: rgb(180, 209, 180);

    .bar{
        height: 100%;
        width: 50%;
        border-radius: 7px;
        background-color: rgb(116, 197, 130);
    }

    .hundred{
        width: 100%;
    }

    .ninety{
        width: 90%;
    }

    .eighty{
        width: 80%;
    }

    .seventy{
        width: 70%;
    }

    .sixty{
        width: 60%;
    }

    .forty{
        width: 40%;
    }
}

@mixin tag-color($color){
    background-color: $color;
    padding: 5px;
    font-size: 12px;
    color: white;
    border-radius: 3px;
}

@mixin ul-content($rows, $percentage){
    display: grid;
    grid-template-rows: repeat($rows, $percentage);
    height: 100%;
}

//SASS Nestings

*{
    transition: all 300ms;
}

#resume-wrapper{
    display: grid;
    grid-template-rows: 14% 113% 14% 95% 60%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;

    @include tablet-landscape{
        grid-template-rows: 14% 171% 14% 155% 60%;
    };

    @include tablet{
        grid-template-rows: 14% 187% 14% 155% 60%;
    }

    @include mobile{
        grid-template-rows: 14% 181% 14% 155% 60%;
    };

    h1{
        padding-left: 2%;
        padding-top: 30px;
        font-size: 21px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.048);
    }

    .box-title{
        padding-left: 8%;
        padding-bottom: 5%;
        color: #78cc6d;
        font-size: 25px;
        margin-right: 2%;
    }

    #resume-top{
        display: grid;
        grid-template-columns: 1fr 1fr;

        @include tablet-landscape{
            grid-template-columns: none;
            grid-template-rows: 32% auto;
        };

        #experience{
            border-right: 1px solid rgba(125, 230, 115, 0.15);
        }

        .cols{
            .box-content{
                height: 100%;
                display: grid;
                grid-template-rows: 40% 37%;
                border-top: 1px solid rgba(125, 230, 115, 0.15);
    
                .content-wrapper{
                    display: grid;
                    height: 100%;
                    grid-template-columns: 60% 40%;
    
                    .left-wrapper{
                        padding: 10px;
                        padding-bottom: 0;
                        height: 70%;

                        .current{
                            @include tag-color(#78cc6d)
                        }

                        .finished{
                            @include tag-color(#8dac88)
                        }
                    }
    
                    img{
                        width: 100px;
                        height: 100px;
                        margin: 5% auto;
                    }
                }
    
                p{
                    padding: 5%;
                    margin-bottom: 10px;
                }
            }
        }
    }

    #resume-middle{
        display: grid;
        grid-template-columns: 1fr 1fr;

        @include tablet-landscape{
            grid-template-columns: none;
            grid-template-rows: 64% 57%;
        };

        #programming{
            border-right: 1px solid rgba(125, 230, 115, 0.15);
            height: 100%;

            ul{
                @include ul-content(6, 14.44%);
                
                li{
                    @include li-content(30%, 70%);

                    .progress{
                        @include progress-bar(90%);
                    }
                }

                li:last-child{
                    border-bottom: none;
                }
            }
        }

        #languages{
            height: 100%;

            ul{
                @include ul-content(3, 14.44%);
                
                li{
                    @include li-content(30%, 70%);

                    .progress{
                        @include progress-bar(90%);
                    }
                }

                li:last-child{
                    border-bottom: none;
                }
            }
        }
    }

    #resume-bottom{
        display: grid;
        grid-template-rows: 22% 88%;
        border-top: 1px solid rgba(125, 230, 115, 0.15);

        #title{
            display: block;
            margin: 0px auto;
            margin-top: 20px;
            width: 100%;
            height: 70%;
            text-align: center;
            
            @include mobile{
                padding-left: 11%;
            };
            
            h1{
                padding: 0;
                top: 80%;
                border-bottom: none;

                span{
                    margin-left: -100px;
                }
            }
        }

        #left{
            border-right: 1px solid rgba(125, 230, 115, 0.15);
        }

        #list{
            display: grid;
            grid-template-columns: 1fr 1fr;
            border-top: 1px solid rgba(125, 230, 115, 0.15);

            ul{
                @include ul-content(5, 1fr);
                
                li{
                    @include li-content(13%, 83%);

                    .progress{
                        @include progress-bar(100%);
                    }

                    .green{
                        color: rgb(116, 197, 130);
                    }
                }

                li:last-child{
                    border-bottom: none;
                }
            }
        
        }
    }
}